.notification {
    width: 40vw;
    max-height: 56px;
    position: relative;
    display: flex;
    justify-content: start;
    overflow: hidden;
    padding: 8px;
    z-index: 99;
    border: 2px solid;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 #DBDBDB;
    color: #4E4E4E;


    .text-content {
        display: flex;
        flex-direction: column;
        margin: 0 .4rem;

        .title {
            font-size: .9rem;
            font-weight: bolder;
        }

        .message {
            font-size: .8rem;
            padding-top: .4rem;
        }
    }

    .closeButton {
        position: absolute;
        top: 12px;
        right: 12px;
        background: transparent;
        padding: 0;
        border: none;
        cursor: pointer;
        color: #4E4E4E;
    }
}


.notification.info {
    background-color: #E8F4F9;
    border-color: #4699CF;
}

.notification.success {
    background-color: #E9F8F4;
    border-color: #5DC3A1;
}

.notification.warning {
    background-color: #FEF7E9;
    border-color: #F5C462;
}

.notification.error {
    background-color: #FAEEF0;
    border-color: #E26C7C;
}

.notification:not(:last-child) {
    margin-bottom: 12px;
}

