@import "src/variables";

.notification {
    width: 40vw;
    max-height: 56px;
    position: relative;
    display: flex;
    justify-content: start;
    overflow: hidden;
    padding: 8px;
    z-index: 99;
    border: 2px solid;
    border-radius: $border-radius;
    box-shadow: $box-shadow-light;


    .icon-container {
        position: absolute;
        top: 8px;
        left: 8px;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        margin: 0 28px;

        .title {
            font-size: .9rem;
            font-weight: bolder;
        }

        .message {
            font-size: .8rem;
            padding-top: .4rem;
        }
    }

    .closeButton {
        position: absolute;
        top: 8px;
        right: 8px;
        background: transparent;
        padding: 0;
        border: none;
        cursor: pointer;
        color: $color-text-main;
    }
}


.notification.info {
    background-color: $color-info-light;
    border-color: $color-info;
    svg {
        color: $color-info;
    }
}

.notification.success {
    background-color: $color-success-light;
    border-color: $color-success;
    svg {
        color: $color-success;
    }
}

.notification.warning {
    background-color: $color-warning-light;
    border-color: $color-warning;
    svg {
        color: $color-warning;
    }
}

.notification.error {
    background-color: $color-error-light;
    border-color: $color-error;
    svg {
        color: $color-error;
    }
}

.notification:not(:last-child) {
    margin-bottom: 12px;
}

