$color-text-main: #4E4E4E;

$color-info-light: #E8F4F9;
$color-info: #4699CF;

$color-success-light: #E9F8F4;
$color-success: #5DC3A1;

$color-warning-light: #FEF7E9;
$color-warning: #F5C462;

$color-error-light: #FAEEF0;
$color-error: #E26C7C;

$box-shadow-light: 0 2px 2px 0 #DBDBDB;
$border-radius: 4px;
